In [ ]:
import json ,datetime,pandas
date=datetime.datetime.now()
date=date.strftime('%c')
with open('product.json') as json_file:
    product_details = dict(json.load(json_file))
again = 1    
while again ==1:
       for i in product_details:
         print('id=',i)
         print('product name = ',product_details[i]['product_name'], 'product Price = ',product_details[i]['price'], 'product Quantity = ',product_details[i]['quantity'])
       productid =str(input(" Enter product id : "))
       product_name = str(input("Enter product name: "))    
       product_price  = int(input("Enter product price: "))
       product_quantity   = int(input("Enter product quantity: "))
       product_warranty   = str(input("Enter product warranty yes or no: "))
       product_discount     = int(input("Enter product discount: "))
       product_type   = str(input("Enter product type: "))   
       product_details[productid] = {'product_name': product_name,'price': product_price, 'quantity': product_quantity , 'date': date, 'warranty': product_warranty, 'discount': product_discount, 'type': product_type}
       print("Product successfully added")
       again= int(input("Enter 1 to insert another product else enter 0 :"))
js=json.dumps(product_details)
fd=open('product.json','w')
fd.write(js)
fd.close()

id= 1001
product name =  oneplus nord ce product Price =  23000 product Quantity =  45
id= 1002
product name =  macbook product Price =  99000 product Quantity =  45
id= 1003
product name =  Asus vivobook product Price =  45000 product Quantity =  45
id= 1004
product name =  Samsung Crystal 4K product Price =  50000 product Quantity =  30
id= 1005
product name =  Voltas 1 ton AC product Price =  24000 product Quantity =  45
id= 1006
product name =  LG refrigerator product Price =  40000 product Quantity =  45
id= 1007
product name =  Samsung Washing Machine product Price =  23000 product Quantity =  55
id= 1008
product name =  Maharaja Juicer product Price =  8000 product Quantity =  45
id= 1009
product name =  Prestige Induction product Price =  2500 product Quantity =  50
id= 1010
product name =  Haier Microwave product Price =  6900 product Quantity =  45
id= 1011
product name =  1kg ChanaDal packet  product Price =  80 product Quantity =  45
id= 1012
product name =   1kg MungDal packet product Price =  100 product Quantity =  45
id= 1013
product name =  1kg TuwarDal packet product Price =  110 product Quantity =  45
id= 1014
product name =  1kg oil product Price =  34 product Quantity =  140
id= 1015
product name =  1kg sugar packet product Price =  40 product Quantity =  45
id= 1016
product name =  250 gm Taj Tea packet product Price =  180 product Quantity =  45
id= 1017
product name =  1kg Almond packet product Price =  1050 product Quantity =  40
id= 1018
product name =  1kg Walnut packet product Price =  1600 product Quantity =  30
id= 1019
product name =  5kg Aashirwad Aata packet product Price =  300 product Quantity =  45
id= 1020
product name =  2kg tata namak product Price =  50 product Quantity =  50
id= 1021
product name =  notebook product Price =  60 product Quantity =  45
id= 1022
product name =  pencil(24) product Price =  120 product Quantity =  45
id= 1023
product name =  Watercolor product Price =  200 product Quantity =  45
id= 1024
product name =  Pen Packet product Price =  200 product Quantity =  45
id= 1025
product name =  Highlighters product Price =  70 product Quantity =  45
id= 1026
product name =  Sketch book product Price =  300 product Quantity =  45
id= 1027
product name =  Sketchcolor product Price =  150 product Quantity =  45
id= 1028
product name =  Geometry Box product Price =  120 product Quantity =  45
id= 1029
product name =  WaterBottle product Price =  180 product Quantity =  45
id= 1030
product name =  lunchbox product Price =  250 product Quantity =  45
id= 1031
product name =  Mug product Price =  80 product Quantity =  45
id= 1032
product name =  Chair product Price =  400 product Quantity =  45
id= 1033
product name =  Table product Price =  500 product Quantity =  45
id= 1034
product name =  Shoerack product Price =  600 product Quantity =  45
id= 1035
product name =  Studytable product Price =  500 product Quantity =  45
id= 1036
product name =  Mirror product Price =  460 product Quantity =  45
 Enter product id : 1009
Enter product name: Amla
Enter product price: 100
Enter product quantity: 12
Enter product warranty yes or no: no
Enter product discount: 0
Enter product type: grocery
Product successfully added
Enter 1 to insert another product else enter 0 :0